.header {
    position: relative;
    height: 18rem;
    background-color: rgb(129, 99, 223);
    border-radius: 0% 0% 0% 50px;
    z-index: 1;
}

.message {
    text-align: center;
    color: white;
    padding: 4rem 3rem 0rem 3rem;
    
    font-weight: bold;
    font-size: 20px;
}

.notice {
    width: 90%;
    font-size: 18px;
    font-weight: bolder;
    margin: auto;
}

.greeting {
    font-size: 22px;
    margin-bottom: 2rem;
}

.greeting_client {
    font-size: 25px;
    text-align: left;
    margin-bottom: 3rem;
}

.question {
    width: 70%;
    font-size: 15px;
    margin: auto;
}

.logo {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

.back {
    position: absolute;
    top: 5rem;
    left: 3rem;
}

.back button {
    border-radius: 35%;
    padding: 3px 8px;
}

#my_camera {
    border-radius: 50%;
    background-color: darkgray;
    margin: auto;
}

.snap {
    position: absolute;
    top : 27%;
    left: 0;
    width: 100%;
    text-align: center;

    color: white;
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
}

.camera_container {
    position: relative;
}

.container {
    padding: 5rem;
}

body {
    background-color: rgb(241, 242, 246);
}

.interview {
    border-radius: 50px;
    background-color: rgb(129, 99, 223);
    color: white;
    font-weight: bold;
    font-size: x-large;
    height: fit-content;
    position: relative;
    top: 5rem;
    width: 100%;
    padding: 15px;
}

.form-control {
    padding: 30px 15px;
    font-size: 25px;
    border-radius: 10px;
}

.notification {
    background-color: rgba(0,0,0,0.65);
    color: white;
    position: absolute;
    top: 40%;
    width: 100%;
    padding: 10px 5px 5px 5px;
    text-align: center;
    z-index: 2;
    border-radius: 10px;
}

.notification_body {
    font-size: 18px;
    font-weight: bolder;
    line-height: normal;
}

.notification a {
    padding: 5px 24px;
    font-size: 18px;
    margin: 10px;
    font-weight: bolder;
}

#rec_camera {
    border: 1px solid rgb(129, 99, 223);
    border-radius: 10px;
    background-color: darkgray;
    margin: auto;
    position: absolute;
    bottom: 6rem;
    right: 1rem;
    z-index: 2;
}

.back_image {
    position: absolute;
    bottom: 0;
}

.countdown {
    padding-top: 4rem;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
}

.hint {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    padding: 1rem;
}

.hint a {
    padding: 10px 20px;
    font-weight: bolder;

}

.p-2 {
    padding: 2rem;
}

.record a {
    position: absolute;
    left: 35%;
    bottom: 3rem;
    padding: 10px 35px;
    font-size: 22px;
    font-weight: bolder;
    z-index: 2;
}

@media screen and (min-width: 800px) {
    .container{
      width: 40%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}